nav{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.486);
    box-shadow: 0 0 10px rgb(3, 3, 3);
    z-index: 100;
}
a{
    color: rgb(252, 252, 252);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
button p{
    font-family: "lato", 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    transition: color 1s, scale 0.15s;
}
button img{
    height: 19px;
    margin-right: 10px;
}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "lato", 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-left: 50px;
}
.title img{
    margin-right: 15px;
    margin-bottom: -3px;
    width: 40px;
}
.navigations{
    display: flex;
    flex-direction: row;
    min-width:300px;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin-right: 60px;
}
button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 50px;
    padding: 0 10px;
}
button p::before{
    color: white;
}
button:hover p{
    color: rgb(120, 123, 250);
    scale: 1.01;
}
#home-button{
    margin-right: 1px;
}
#planets-button{
    margin-right: 1px;
}